body {
    font-family: Arial, sans-serif;
    background-color: rgb(217, 239, 217, 0.7);
    background-image: url("/static/bg.png");
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background-color: rgb(217, 239, 217, 0); /* White background with 80% opacity */
    border-radius: 5px;
    
    
    background-size: cover;
    background-position: center;
}

.containerr {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background-color: rgb(217, 239, 217, 0); /* White background with 80% opacity */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    
    background-size: cover;
    background-position: center;
}

h1 {
    color: #007bff; /* Blue color */
}

.btn {
    display: inline-block;
    background-color: #28a745; /* Green color */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #218838;
}

video {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}
